* {
    background-color: bisque;
}

h1 {
    color: black;
    text-transform: uppercase;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
}

h2 {
    color: orange;
    align-content: center;
}
h3 {
    color:orange;
    align-content: center;
}

h4 {
    color: orange;
    align-content: center;
}


#one {background-color: lightblue;
    height: 2px;
}

